[submodule "npm-template"]
	path = npm-template
	url = https://github.com/hezhangjian/npm-template.git
[submodule "base-template"]
	path = base-template
	url = https://github.com/hezhangjian/base-template.git
[submodule "angular-template"]
	path = angular-template
	url = https://github.com/hezhangjian/angular-template.git
[submodule "node-fastify-template"]
	path = node-fastify-template
	url = https://github.com/hezhangjian/node-fastify-template.git
[submodule "python-template"]
	path = python-template
	url = https://github.com/hezhangjian/python-template.git
[submodule "python-fastapi-template"]
	path = python-fastapi-template
	url = https://github.com/hezhangjian/python-fastapi-template.git
[submodule "java-maven-template"]
	path = java-maven-template
	url = https://github.com/hezhangjian/java-maven-template.git
[submodule "springboot-webflux-template"]
	path = springboot-webflux-template
	url = https://github.com/hezhangjian/springboot-webflux-template.git
[submodule "c-template"]
	path = c-template
	url = https://github.com/hezhangjian/c-template.git
[submodule "rust-template"]
	path = rust-template
	url = https://github.com/hezhangjian/rust-template.git
[submodule "csharp-template"]
	path = csharp-template
	url = https://github.com/hezhangjian/csharp-template.git
[submodule "go-template"]
	path = go-template
	url = https://github.com/hezhangjian/go-template.git
[submodule "springboot-template"]
	path = springboot-template
	url = https://github.com/hezhangjian/springboot-template.git
